.search-group {
  height: 3rem;
  border-radius: 10px;
}
:host::ng-deep {
  .search-group {
    .search-dropdown {
      border: 0;
      width: 8rem;
      .p-inputtext,
      svg {
        padding: 0;
        color: var(--text-dark-color);
      }
    }
  }
  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
  }
  .p-dropdown-panel .p-dropdown-items {
    padding: 10px !important;
    .p-dropdown-item {
      border-radius: var(--input-border-radius);
      padding: 0.65rem 1.25rem;
      &:not(.p-highlight):not(.p-disabled).p-focus {
        background-color: transparent;
      }
      &.p-highlight {
        background-color: var(--bg-main-light);
        color: var(--text-main-color);
      }
    }
  }
}
