#home {
  .search {
    background-image: linear-gradient(
      to right,
      var(--bg-dark-color),
      var(--bg-main-color)
    );
    min-height: 13rem;
    border-radius: 0 0 15px 15px;
  }

  .statistics {
    .statistic-card {
      background-color: #f7f7f7;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    .statistic-icon {
      width: 2rem;
      min-width: 2rem;
      height: 2rem;
      border-radius: 6px;
      background-color: var(--statistic-icon-bg);
      color: var(--statistic-icon-color);
    }
  }
  .color-container {
    width: 1rem;
    height: 1rem;
    border-radius: 3px;
  }

  .activites {
    .activities-title {
      &:after {
        content: "";
        position: absolute;
        width: 3rem;
        height: 2.5px;
        background-color: #cab079;
        bottom: 0;
        left: 0;
      }
    }
  }
}
