<div id="home">
  <section class="search d-flex align-items-center py-3">
    <div class="container">
      <h1 class="text-white-color fs-4">Hi ,Mohamed Ab Elrahman</h1>
      <div class="mt-3">
        <app-home-search></app-home-search>
        <div class="d-flex justify-content-end align-items-center mt-3 gap-1 text-white-color">
          <i class="pi pi-angle-down fs-5"></i>
          <span>Advanced Search</span>
        </div>
      </div>
    </div>
  </section>

  <section class="statistics mt-4">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-4">
          <div class="statistic-card p-3 h-100">
            <div class="d-flex justify-content-between align-items-center gap-2 flex-wrap">
              <h5 class="fs-5-1 mb-0">All Jobs Status</h5>
              <p-dropdown [options]="statusTypes" [(ngModel)]="statusType" optionLabel="name" placeholder="Type"
                (onChange)="changeStatusType()" [filter]="false" [styleClass]="'status-type-dropdown'"></p-dropdown>
            </div>
            <div class="row align-items-center pt-4">
              <div class="col-lg-6">
                <p-chart type="doughnut" [data]="data" [options]="chartOptions"></p-chart>
              </div>
              <div class="col-lg-6">
                @for (item of data.labels; track item; let index = $index) {
                <div class="d-flex align-items-baseline gap-2">
                  <div class="color-container" [style.background-color]="getBackgroundColor(index)">
                  </div>
                  <p class="mb-0 fw-bold">{{data.datasets[0].data[index]}}M
                    <span>{{item}}</span>
                  </p>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="statistic-card p-3 h-100">
            <h5 class="fs-5-1 mb-1">My Daily Jobs Status</h5>
            <p class="text-muted-color fs-6-1">Latest Update On 10-5-2023</p>
            <div class="d-flex align-items-center gap-md-5 gap-4 flex-wrap mt-4">
              <div>
                <div class="d-flex gap-2 align-items-baseline">
                  <div class="statistic-icon d-flex justify-content-center align-items-center"
                    style="--statistic-icon-bg:#dfdfdf;--statistic-icon-color:#111">
                    <i class="pi pi-copy fs-5"></i>
                  </div>
                  <span class="fs-4 fw-bold">3000</span>
                </div>
                <p class="mt-1">All Jobs</p>
              </div>
              <div>
                <div class="d-flex gap-2 align-items-baseline">
                  <div class="statistic-icon d-flex justify-content-center align-items-center"
                    style="--statistic-icon-bg:#dbeadc;--statistic-icon-color:#86bf88">
                    <i class="pi pi-calendar fs-5"></i>
                  </div>
                  <span class="fs-4 fw-bold">3000</span>
                </div>
                <p class="mt-1">success</p>
              </div>
              <div>
                <div class="d-flex gap-2 align-items-baseline">
                  <div class="statistic-icon d-flex justify-content-center align-items-center"
                    style="--statistic-icon-bg:#cce0eb;--statistic-icon-color:#337ab5">
                    <i class="pi pi-receipt fs-5"></i>
                  </div>
                  <span class="fs-4 fw-bold">3000</span>
                </div>
                <p class="mt-1">in progress</p>
              </div>
              <div>
                <div class="d-flex gap-2 align-items-baseline">
                  <div class="statistic-icon d-flex justify-content-center align-items-center"
                    style="--statistic-icon-bg:#f7e1d4;--statistic-icon-color:#d38149">
                    <i class="pi pi-times-circle fs-5"></i>
                  </div>
                  <span class="fs-4 fw-bold">3000</span>
                </div>
                <p class="mt-1">Faild</p>
              </div>
              <div>
                <div class="d-flex gap-2 align-items-baseline">
                  <div class="statistic-icon d-flex justify-content-center align-items-center"
                    style="--statistic-icon-bg:#f8f4d8;--statistic-icon-color:#f4d69a">
                    <i class="pi pi-refresh fs-5"></i>
                  </div>
                  <span class="fs-4 fw-bold">3000</span>
                </div>
                <p class="mt-1">Retry</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="activites mt-5">
    <div class="container">
      <div class="d-flex justify-content-between gap-2 flex-wrap">
        <div>
          <h4 class="activities-title position-relative pb-2">Recent Activities</h4>
          <p class="text-muted-color fs-5-2">Latest Update On 10-5-2023</p>
        </div>
        <a class="text-main-color fw-bold">View All</a>
      </div>

      <div class="row gy-4">
        @for (item of activities; track $index) {
        <div class="col-lg-3 col-md-6">
          <app-activitie-card [item]="item"></app-activitie-card>
        </div>
        }
      </div>
    </div>

  </section>

</div>