.search-dropdown,
.status-type-dropdown {
  border: 0;
  background-color: transparent;
  .p-inputtext,
  svg {
    padding: 0;
    color: var(--text-dark-color);
    font-weight: bold;
  }
}
.status-type-dropdown {
  width: 5.6rem;
  .p-dropdown-trigger {
    width: auto;
  }
}
.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none !important;
}
.p-dropdown-panel .p-dropdown-items {
  padding: 10px !important;
  .p-dropdown-item {
    border-radius: var(--input-border-radius);
    padding: 0.6rem 1.25rem;
    &:not(.p-highlight):not(.p-disabled).p-focus {
      background-color: transparent;
    }
    &.p-highlight {
      background-color: var(--bg-main-light);
      color: var(--text-main-color);
    }
  }
}
